:root{
  --var-top-color: RGB(31,31,31);
  --var-opacity-menu: 0.7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* div{
  border: 3px solid white;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.principal{
  display: flex;
  flex-direction: row;
}

.menu{
  background-color: #0C0C0D;
  height: 100vh;
  min-width: 250px;
}

.main{
  background: repeating-linear-gradient(var(--var-top-color), RGB(18, 18, 18) 45vh, RGB(18, 18, 18) 100vh);
  height: 100vh;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 400px;
}
.topsix-main{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.topsix{
  display: flex;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 5px 0;
  flex-basis:48%;
}

.topsix-image{
  width: 80px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.topsix-title{
  padding-left: 15px;
}
.topsix-title h3{
  color: white;
  font-size: 16px;
  height: 25px;
}

.regard{
  color: White;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.user{
  position: relative;
  color: white;
}

.user-menu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  height: 30px;
  margin-left: 15px;
}
.user-menu h4{
  margin: 0;
  background-color: #070B0D;
  padding-top: 6px;
  color: white;
  font-size: 13px;
  padding-left: 35px;
  padding-right: 30px;
  border-radius: 50px;
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-menu-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: RGB(40, 40, 40);
  padding: 15px;
  line-height: 40px;
  font-size: 14px;
  text-align: left;
  margin-top: 50px;
  padding-right: 50px;
}


.user-png{
  width: 26px;
  height: 26px;
  background-color: grey;
  border-radius: 50%;
}

.container-img{
  position: relative;
  left: 27px;
  background-color: #070B0D;
  border-radius: 50px;
  height: 26px;
  width: 26px;
  padding: 2px;
}

.user-down{
  position: relative;
  height: 17px;
  width: 17px;
  right: 30px;
  top: 7px
}


#logo{
  width: 130px;
  margin-left: 22px;
  margin-top: 24px;
}
.options{
  margin-left: 22px;
  margin-top: 28px;
}
.icon{
  height: 25px;
}
.icon-up{
  opacity: 0.7;
}
.list-options{
  display: flex;
  color: #ceedeb;
  margin-bottom: 15px;
}
.list-options h4{
  margin: 0;
  font-size: 14px;
  padding-left: 14px;
  padding-top: 3px;
  opacity: var(--var-opacity-menu);
}

.playlist{
  height: 12px;
  background-color: #ceedeb;
  padding: 7px;
  border-radius: 2px;
}
.list-options-other{
  display: flex;
  color: #ceedeb;
  margin-bottom: 15px;
  opacity: var(--var-opacity-menu);
}
.list-options-other h4{
  margin:0;
  font-size: 14px;
  padding-left: 14px;
  padding-top: 3px;
}
.other{
  margin-top: 50px;
}
.heart{
  height:  12px;
  background: repeating-linear-gradient(120deg, RGB(96, 79, 159)0px, RGB(96, 79, 159)22px, RGB(255,255,255) 40px, RGB(255,255,255));
  padding: 7px;
  border-radius: 2px;
}
.bookmark{
  height:  20px;
  padding: 3px;
  background-color: #084637;
}

.light:hover{
  --var-opacity-menu: 1;
}
.light-title:hover{
  opacity: 1;
}
.divide{
  height: 1px;
  width: 210px;
  background-color: #ceedeb;
  opacity: 0.2;
  margin-left: 22px;
}

@media screen and (min-width: 1200px) {
  .topsix{
    flex-basis: 33%;
  }
  .topsix-image{
    width: 16%;
  }
}

